/* make cirlce with border radius 50% */



* {
    box-sizing: border-box;
}

.pepto {
    display: inline-block;
    width: 99.1%;
    height: 200px;
    background-color: #F5C6D6;
}

.pink {
    display: inline-block;
    background-color: #EE2E84;
    height: 200px;
    width: 24.4%;

}

.blue {
    background-color: #85CFD8; 
    display: inline-block;
    height: 200px;
    width: 49.35%;
}

.green {
    background-color: #8DC63F; 
    display: inline-block;
    height: 200px;
    width: 74.4%;
}

.orange {
    display: inline-block;
    background-color: #E76E34;
    height: 200px;
    width: 24.2%;
}

@media (max-width: 768px){
    * {
        box-sizing: border-box;
        border: solid white 1px;
        font-size: 0px;
    }
    
    .pepto {
        display: inline-block;
        width: 100%;
        height: 50px;
        background-color: #F5C6D6;
    }
    
    .pink {
        display: inline-block;
        background-color: #EE2E84;
        height: 50px;
        width: 100%;
    
    }
    
    .blue {
        background-color: #85CFD8; 
        display: inline-block;
        height: 50px;
        width: 100%;
    }
    
    .green {
        background-color: #8DC63F; 
        display: inline-block;
        height: 50px;
        width: 100%;
    }
    
    .orange {
        display: inline-block;
        background-color: #E76E34;
        height: 50px;
        width: 100%;
    }
}


