*{
  margin: 0px;
}

.App {
  text-align: center;
}

.Nav-wrapper{
  width: 100%;
  height: 70px;
  border: solid thin;
  background-color: teal;
  display: grid;
  grid-template-columns: 1fr 1fr
}
.list-wrapper{
  border:solid;
  display: grid;
  grid-gap: 10px;
}

.bountie-wrapper{
  border: solid thin
}