body {
  text-align: center;
  background-color: rgb(179, 179, 179)
}

.favorite-things {
  border: solid thin;
  border-radius: 5px;
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: rgb(219, 219, 219);
  display: grid;
  /* grid-template-rows: repeat(4, 1fr) */
}

.form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  width: 70%;
  margin: auto;
  border: solid thin;
  padding: 5px;
  background-color: rgb(129, 129, 129);
  margin-bottom: 10px;
  border-radius: 5px;
}
input{
  grid-row-start: 2;
  border: solid thin;
  border-radius: 3px;
}

.button {
  grid-column: 2/2;
  grid-row-start: 3;
  border: solid thin;
  border-radius: 5px;
}

h3{
  grid-column: 2/2;
}
img{
  text-align: center;
  margin: auto;
  width: 400px;
  padding-bottom: 15px;
}
button {
  width: 80px;
  margin: auto;
  padding: 2px;
  margin-top: 3px;
  border-radius: 5px;
  border: solid thin;
}