.nav-wrapper {
    width: 100vw;
    height: 75px;
    border: solid thin;
    background-color: grey;
    position: fixed;
    top: 0;

}

.foot-wrapper {
    width: 100vw;
    height: 50px;
    border: solid thin;
    background-color: rgb(158, 158, 158);
    position: fixed;
    bottom: 0;
    margin-bottom: 0px
}