.App {
  /* text-align: center; */
  display: grid;
  /* grid-template-rows: repeat(6, 1fr) */
}

.diceBox {
  height: 400px;
  width: 400px;
  border: solid thin black;
  display: grid;
}

.dice {
  height: 40px;
  width: 40px;
  border: solid thin;
  text-align: center;
}

